// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.scrollable {
    max-height: 47em;
    overflow-y: auto;
}

a.custom-card,
a.custom-card:hover {
    color: inherit;
    text-decoration: none;
}

div.card-hover:hover {
    border: 1px solid #1d68a7;
}
